openapi: 3.0.1
info:
  title: fs-proxy-1
  description: Welcome to the Financial Services API documentation
  version: "1"
servers:
  - url: https://cat.api.firstdata.com/fs
paths:
  /rewardsadmin/v2/approveBehavior:
    post:
      tags:
        - Rewards Admin
      summary: Approve loyalty behavior.
      description: |-
        Approve a loyalty behavior.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier.
      operationId: approveBehavior_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseValidatedBehaviorRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveBehavior
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveCategory:
    post:
      tags:
        - Rewards Admin
      summary: approve Category
      description: |-
        approve the category
        Optional Fields: hierarchyId, rowId
      operationId: approveCategory_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateCategoryRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveCategory
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveDialog:
    post:
      tags:
        - Rewards Admin
      summary: Approves dialog parameter.
      description: |-
        Use this service to approve the settings for dialog.

        Required fields: hierarchyId and rowId.

        Entitlement: PLPADG
      operationId: approveDialog_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApproveDialogRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: approveDialog
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveDistributionBucket:
    post:
      tags:
        - Rewards Admin
      summary: Approve distribution bucket.
      description: |-
        Approve a distribution bucket.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, distributionBucketIdentifier, effectiveDate.
      operationId: approveDistributionBucket_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/FutureDistributionBucketRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveDistributionBucket
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveEnrollmentTrigger:
    post:
      tags:
        - Rewards Admin
      summary: Approve Enrollment Triggers
      description: |-
        Approve an enrollment trigger.
        Required Fields:  clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, enrollmentTriggerIdentifier, effectiveDate, event.
      operationId: approveEnrollmentTrigger_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApproveEnrollmentTriggerRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveEnrollmentTrigger
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveMapping:
    post:
      tags:
        - Rewards Admin
      summary: Approve loyalty mapping.
      description: |-
        Approve a loyalty mapping.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, mappingIdentifier, effectiveDate.
      operationId: approveMapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApproveMappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveMapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveProgramCapping:
    post:
      tags:
        - Rewards Admin
      summary: Approves capping across program parameter.
      description: 'Use this service to approve the settings for Program Capping.
        \n\nRequired fields: hierarchyId and rowId.\n\nEntitlement: PLPAPC'
      operationId: approveProgramCapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApproveProgramCappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveProgramCapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveProgramGroup:
    post:
      tags:
        - Rewards Admin
      summary: Approve loyalty program group.
      description: |-
        Approve a loyalty program group.
        Required fields: hierarchyId and rowId.
      operationId: approveProgramGroup_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ApproveProgramGroupRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveProgramGroup
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveProgram:
    post:
      tags:
        - Rewards Admin
      summary: Approve loyalty program.
      description: |-
        Approve a loyalty program.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, programType, programCode, effectiveDate.
      operationId: approveProgram_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseValidatedProgramRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveProgram
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveRewardsRule:
    post:
      tags:
        - Rewards Admin
      summary: Approve rewards rule.
      description: |-
        Approve a rewards rule.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, ruleIdentifier, status, effectiveDate.
      operationId: approveRewardsRule_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseValidatedRuleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveRewardsRule
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/approveTierAcross:
    post:
      tags:
        - Rewards Admin
      summary: Approve tier across.
      description: |-
        Approve a tier across.
        Required fields: hierarchyId, tierAcrossIdentifier and effectiveDate.
      operationId: approveTierAcross_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseTierAcrossRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: approveTierAcross
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyBehavior:
    post:
      tags:
        - Rewards Admin
      summary: Copy loyalty behavior.
      description: |-
        Copy an existing loyalty behavior.
        Required Fields: from.id, from.clientIdentifier, from.systemIdentifier, from.principalIdentifier, from.agentIdentifier, to.clientIdentifier, to.systemIdentifier, to.principalIdentifier, to.agentIdentifier, to.behaviorCode, to.effectiveDate, to.description.
      operationId: copyBehavior_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyBehaviorRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: copyBehavior
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyCategory:
    post:
      tags:
        - Rewards Admin
      summary: Copy loyalty category.
      description: |-
        Copy a new loyalty Category.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, categoryCode, categoryName, effectiveDate.
      operationId: copyCategory_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseAdminRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: copyCategory
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyDialog:
    post:
      tags:
        - Rewards Admin
      summary: Copy will copy a current version of Dialog to a new version
      description: "Use this service to copy the settings for Dialog to a new version\
        \ of Dialog with the status of working. \n\nRequired fields: to, from, to.hierarchyId,\
        \ to.rowId, from.hierarchyId, to.effectiveDate, to.dialogCode, to.description.\n\
        \nEntitlement: PLPYDG"
      operationId: copyDialog_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyDialogRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: copyDialog
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyDistributionBucket:
    post:
      tags:
        - Rewards Admin
      summary: Copy distribution bucket.
      description: |-
        Copy an existing loyalty distribution bucket.
        Required Fields: from.id, from.clientIdentifier, from.systemIdentifier, from.principalIdentifier, from.agentIdentifier, from.type, from.distributionBucketIdentifier, from.status, from.effectiveDate, to.clientIdentifier, to.systemIdentifier, to.principalIdentifier, to.agentIdentifier, to.distributionBucketIdentifier, to.distributionBucketDescription, to.effectiveDate.
      operationId: copyDistributionBucket_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyDistributionBucketRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: copyDistributionBucket
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyEnrollmentTrigger:
    post:
      tags:
        - Rewards Admin
      summary: Copy An Enrollment Trigger.
      description: |-
        Copy an existing enrollment trigger.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, event, enrollmentTriggerIdentifier, status, effectiveDate, description.
      operationId: copyEnrollmentTrigger_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyEnrollmentTriggerRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: copyEnrollmentTrigger
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyMapping:
    post:
      tags:
        - Rewards Admin
      summary: Copy loyalty mapping.
      description: |-
        Copy an existing loyalty mapping.
        Required Fields: from.status, from.clientIdentifier, from.systemIdentifier, from.principalIdentifier, from.agentIdentifier, from.type, from.mappingIdentifier, to.clientIdentifier, to.systemIdentifier, to.principalIdentifier, to.agentIdentifier, to.type, to.mappingIdentifier, to.effectiveDate, to.description.
      operationId: copyMapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyMappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: copyMapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyProgramCapping:
    post:
      tags:
        - Rewards Admin
      summary: Copy will copy a current version of Program Capping to a new version.
      description: 'Use this service to copy the settings for Program Capping to a
        new version of Program Capping with the status of working.\n\nRequired fields:
        to, from, to.hierarchyId, to.rowId, from.hierarchyId, to.effectiveDate, to.programCappingCode,
        to.description.\n\nEntitlement: PLPYPC'
      operationId: copyProgramCapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyProgramCappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: copyProgramCapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyProgramGroup:
    post:
      tags:
        - Rewards Admin
      summary: Copy loyalty program group.
      description: |-
        Copy an existing loyalty program group.
        Required Fields: from.id, from.clientIdentifier, from.systemIdentifier, from.principalIdentifier, from.agentIdentifier, from.type, from.programCode, from.effectiveDate, to.clientIdentifier, to.systemIdentifier, to.principalIdentifier, to.agentIdentifier, to.type, to.programCode, to.effectiveDate, to.description, to.enrollBackdateDays.
      operationId: copyProgramGroup_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ProgramGroupRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: copyProgramGroup
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyProgram:
    post:
      tags:
        - Rewards Admin
      summary: Copy loyalty program.
      description: |-
        Copy an existing loyalty program.
        Required Fields: from.id, from.clientIdentifier, from.systemIdentifier, from.principalIdentifier, from.agentIdentifier, from.type, from.programCode, from.effectiveDate, to.clientIdentifier, to.systemIdentifier, to.principalIdentifier, to.agentIdentifier, to.type, to.programCode, to.effectiveDate, to.description, to.enrollBackdateDays.
        When the program type is "PE" for "Percentage of Earnings" the list of calculation programs associated with the incentive program to be copied may not be in the new hierarchy. If the calculation program is not in the new hierarchy the Incentive program will copy, but the associated calculation program will not be part of the calculation program list.
      operationId: copyProgram_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ProgramRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: copyProgram
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyRewardsRule:
    post:
      tags:
        - Rewards Admin
      summary: Copy rewards rule.
      description: |-
        Copy an existing rewards rule.
        Required Fields: from.id, from.clientIdentifier, from.systemIdentifier, from.principalIdentifier, from.agentIdentifier, from.type, from.status, from.ruleIdentifier, from.effectiveDate,to.clientIdentifier, to.systemIdentifier, to.principalIdentifier, to.agentIdentifier, to.type, to.description, to.ruleIdentifier, to.effectiveDate.
      operationId: copyRewardsRule_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyRewardsRuleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: copyRewardsRule
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/copyTierAcross:
    post:
      tags:
        - Rewards Admin
      summary: Copy tier across.
      description: |-
        Copy an existing tier across.
        Required Fields: from.tierAcrossIdentifier, from.status, from.description, from.effectiveDate, from.hierarchyId, to.tierAcrossIdentifier, to.status, to.description, to.effectiveDate, to.hierarchyId,
      operationId: copyTierAcross_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CopyTierAcrossRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: copyTierAcross
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createBehavior:
    post:
      tags:
        - Rewards Admin
      summary: Create loyalty behavior.
      description: |-
        Create a new loyalty behavior.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, behaviorCode, description, effectiveDate.
      operationId: createBehavior_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateBehaviorRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: createBehavior
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createCategory:
    post:
      tags:
        - Rewards Admin
      summary: Create loyalty category.
      description: |-
        Create a new loyalty Category.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, categoryCode, categoryName, effectiveDate.
      operationId: createCategory_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: createCategory
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createDialog:
    post:
      tags:
        - Rewards Admin
      summary: Creates new dialog parameter.
      description: |-
        Use this service to create the initial settings for Dialog.
        Required fields: hierarchyId, effectiveDate, dialogCode, description.
        Entitlement: PLPCDG
      operationId: createDialog_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateDialogRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: createDialog
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createDistributionBucket:
    post:
      tags:
        - Rewards Admin
      summary: Create distribution bucket.
      description: |-
        Create a new distribution bucket.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, distributionBucketIdentifier, distributionBucketDescription, effectiveDate.
      operationId: createDistributionBucket_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateDistributionBucketRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: createDistributionBucket
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createEnrollmentTrigger:
    post:
      tags:
        - Rewards Admin
      summary: Create Enrollment Trigger.
      description: |
        Create a new enrollment trigger
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, event, enrollmentTriggerIdentifier, effectiveDate, description
      operationId: createEnrollmentTrigger_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateEnrollmentTriggerRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: createEnrollmentTrigger
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createMapping:
    post:
      tags:
        - Rewards Admin
      summary: Create loyalty mapping.
      description: |-
        Create a new loyalty mapping.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, mappingIdentifier, description, effectiveDate.
      operationId: createMapping_v2_rewardsadmin
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: createMapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createProgramCapping:
    post:
      tags:
        - Rewards Admin
      summary: Creates new capping across program parameter
      description: |-
        Use this service to create the initial settings for Program Capping..
        Required fields: hierarchyId, effectiveDate, programCappingCode, description,
         Entitlement: PLPCPC.
      operationId: createProgramCapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateProgramCappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: createProgramCapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createProgramGroup:
    post:
      tags:
        - Rewards Admin
      summary: Create loyalty program group.
      description: |-
        Create a new loyalty program group.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, programCode, description, effectiveDate.
      operationId: createProgramGroup_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateProgramGroupRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: createProgramGroup
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createProgram:
    post:
      tags:
        - Rewards Admin
      summary: Create loyalty program.
      description: |-
        Create a new loyalty program.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, programCode, description, effectiveDate.
      operationId: createProgram_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateProgramRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: createProgram
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createRewardsRule:
    post:
      tags:
        - Rewards Admin
      summary: Create Rewards Rule
      description: |-
        Create a new rewards rule.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, description, effectiveDate.
      operationId: createRewardsRule_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateRewardsRuleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: createRewardsRule
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/createTierAcross:
    post:
      tags:
        - Rewards Admin
      summary: Create a new loyalty tier across
      description: "Create a new loyalty tier across \nRequired fields: hierarchyId,\
        \ effectiveDate, tierAcrossIdentifier, description."
      operationId: createTierAcross_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CreateTierAcrossRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: createTierAcross
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/cycleExportRule:
    post:
      tags:
        - Rewards Admin
      summary: Cycle export rule.
      description: |-
        Exports a rule from the current environment to the upper environment (QA -> CAT, CAT -> PROD), with an effective date of cycleCopyEffectiveDate.
        The new rule id in the upper environment will be returned.
        Note: This call should not be used in PROD, as it will always return an error.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, id, cycleCopyEffectiveDate.
      operationId: cycleExportRule_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CycleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: cycleExportRule
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/cycleImportRule:
    post:
      tags:
        - Rewards Admin
      summary: Cycle import rule.
      description: |-
        Imports rule from the current environment to the upper environment (QA -> CAT, CAT -> PROD), with an effective date of cycleCopyEffectiveDate.
        The new rule id in the upper environment will be returned.
        Note: This call should not be used in PROD, as it will always return an error.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, id, cycleCopyEffectiveDate.
      operationId: cycleImportRule_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ExportRuleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: cycleImportRule
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteBehavior:
    post:
      tags:
        - Rewards Admin
      summary: Delete loyalty behavior.
      description: |-
        Delete a loyalty behavior.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier.
      operationId: deleteBehavior_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseValidatedBehaviorRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: deleteBehavior
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteCategory:
    post:
      tags:
        - Rewards Admin
      summary: Delete loyalty category.
      description: |-
        Deletes a new loyalty Category.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, categoryCode, Status, effectiveDate.
      operationId: deleteCategory_v2_rewardsadmin
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: deleteCategory
      x-region:
        - North America
      x-display: Rewards Admin
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteDialog:
    post:
      tags:
        - Rewards Admin
      summary: Sets the status to delete for dialog parameter.
      description: "Use this service to set the status to delete for Dialog. \n\n\
        Required fields: hierarchyId and rowId.\n\nEntitlement: PLPDDG"
      operationId: deleteDialog_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DeleteDialogRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: deleteDialog
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteDistributionBucket:
    post:
      tags:
        - Rewards Admin
      summary: Delete distribution bucket.
      description: "Delete a distribution bucket and reset any programs that use it.\n\
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier,\
        \ agentIdentifier, type, distributionBucketIdentifier, effectiveDate, status. "
      operationId: deleteDistributionBucket_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResetDistributionBucketRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: deleteDistributionBucket
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteEnrollmentTrigger:
    post:
      tags:
        - Rewards Admin
      summary: Delete loyalty enrollment trigger.
      description: |-
        Delete a loyalty enrollment trigger.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, enrollmentTriggerIdentifier, status, effectiveDate.
      operationId: deleteEnrollmentTrigger_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DeleteEnrollmentTriggerRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: deleteEnrollmentTrigger
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteMapping:
    post:
      tags:
        - Rewards Admin
      summary: Delete loyalty mapping.
      description: |-
        Delete a loyalty mapping.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, mappingIdentifier, status.
      operationId: deleteMapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DeleteMappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: deleteMapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteProgramCapping:
    post:
      tags:
        - Rewards Admin
      summary: Sets the status to delete for capping across program parameter.
      description: |-
        Use this service to set the status to delete for Program Capping
        Required fields: hierarchyId and rowId.
         Entitlement: PLPCPC.
      operationId: deleteProgramCapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DeleteProgramRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: deleteProgramCapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteProgramGroup:
    post:
      tags:
        - Rewards Admin
      summary: Delete loyalty program group.
      description: "Delete a loyalty program group.\nRequired fields: hierarchyId\
        \ and programGroupCode.\n "
      operationId: deleteProgramGroup_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DeleteProgramGroupRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: deleteProgramGroup
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteProgram:
    post:
      tags:
        - Rewards Admin
      summary: Delete loyalty program.
      description: |-
        Delete a loyalty program.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, programCode, description, effectiveDate, status.
      operationId: deleteProgram_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/DeleteProgramRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: deleteProgram
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteRewardsRule:
    post:
      tags:
        - Rewards Admin
      summary: Delete rewards rule.
      description: |-
        Delete a rewards rule and reset any programs/distribution buckets that use it.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, ruleIdentifier, effectiveDate, status.
      operationId: deleteRewardsRule_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseValidatedRuleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: deleteRewardsRule
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/deleteTierAcross:
    post:
      tags:
        - Rewards Admin
      summary: Delete tier across.
      description: |-
        Delete a tier across.
        Required Fields: rowId, hierarchyId, tierAcrossIdentifier and effectiveDate
      operationId: deleteTierAcross_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseTierAcrossRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: deleteTierAcross
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/event:
    post:
      tags:
        - Rewards Admin
      summary: Event
      description: Handles events
      operationId: event_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/NonMonEventRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NonMonEventRulesResponse'
      deprecated: false
      x-proxy-name: event
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/exportBehavior:
    post:
      tags:
        - Rewards Admin
      summary: Export behavior.
      description: |-
        Retrieves a behavior from the current environment with an effective date of cycleCopyEffectiveDate.
        The new behavior id in the upper environment will be returned.
        Note: This call should not be used in PROD, as it will always return an error.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, id, cycleCopyEffectiveDate.
      operationId: exportBehavior_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ExportBehaviorRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: exportBehavior
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/exportBucket:
    post:
      tags:
        - Rewards Admin
      summary: Cycle copy bucket.
      description: |-
        Copies a bucket from the current environment to the upper environment (QA -> CAT, CAT -> PROD), with an effective date of cycleCopyEffectiveDate. All rules used by the bucket will be copied. If a rule has a version in the upper environment with the same effective date, no copy will take place, but the bucket will be linked to that version on copy.
        The new bucket id in the upper environment will be returned.
        Note: This call should not be used in PROD, as it will always return an error.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, id, cycleCopyEffectiveDate.
      operationId: exportBucket_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CycleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: exportBucket
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/exportProgram:
    post:
      tags:
        - Rewards Admin
      summary: Cycle copy program.
      description: |-
        Copies a Program from the current environment to the upper environment (QA -> CAT, CAT -> PROD), with an effective date of cycleCopyEffectiveDate. All rules used by the Program will be copied. If a rule has a version in the upper environment with the same effective date, no copy will take place, but the Program will be linked to that version on copy.
        The new Program id in the upper environment will be returned.
        Note: This call should not be used in PROD, as it will always return an error.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, id, cycleCopyEffectiveDate.
      operationId: exportProgram_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CycleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: exportProgram
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getAvailableRules:
    post:
      tags:
        - Rewards Admin
      summary: Get Available Rules
      description: |-
        Get a map of available rewards rules for client, system, principal, agent, and, optionally, type.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier.
        Optional Fields: type.
      operationId: getAvailableRules_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetAvailableRulesRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetAvailableRulesResponse'
      deprecated: false
      x-proxy-name: getAvailableRules
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getBehaviors:
    post:
      tags:
        - Rewards Admin
      summary: Get Behaviors
      description: |-
        Get a list of behaviors.
        Optional Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, behaviorCode, effectiveDate, user, type, status, clientFilter, pageSize, pageIndex.
      operationId: getBehaviors_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetBehaviorsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetProgramsResponse'
      deprecated: false
      x-proxy-name: getBehaviors
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getCategories:
    post:
      tags:
        - Rewards Admin
      summary: Get Categories
      description: |-
        Get a list of categories.
        Optional Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, programCode, effectiveDate, user, type, status, valuePropositionType, clientFilter, pageSize, pageIndex.
      operationId: getCategories_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetCategoriesRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetCategoriesResponse'
      deprecated: false
      x-proxy-name: getCategories
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getClientCspaFilters:
    post:
      tags:
        - Rewards Admin
      summary: Get client cspa filters
      description: Get a list of client cspa filters.
      operationId: getClientCspaFilters_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetClientCspaFiltersRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetProgramsResponse'
      deprecated: false
      x-proxy-name: getClientCspaFilters
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getDialog:
    post:
      tags:
        - Rewards Admin
      summary: Get will retrieve the dialog parameter.
      description: |-
        Use this service to get the settings for Dialog. The service will default to 100 rows being returned. The default statuses being returned will be Working, Validated, Approved, Client Approved, Production, Previous, and Lapsed, You can specify which statuses to returned to get Deleted and Invalid.
        Required fields: hierarchyId.
      operationId: getDialog_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetDialogRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetDialogResponse'
      deprecated: false
      x-proxy-name: getDialog
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getDistributionBuckets:
    post:
      tags:
        - Rewards Admin
      summary: Get distribution buckets
      description: |-
        Get a list of distribution buckets.
        Optional Fields:  clientFilter, status, type, user, clientIdentifier, systemIdentifier, prinIdentifier, agentIdentifier, distributionBucketIdentifier, effectiveDate, pageSize, pageIndex.
      operationId: getDistributionBuckets_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetDistributionBucketsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetDistributionBucketsResponse'
      deprecated: false
      x-proxy-name: getDistributionBuckets
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getEnrollmentTriggers:
    post:
      tags:
        - Rewards Admin
      summary: Get Enrollment Triggers
      description: |-
        Get a list of enrollment triggers.
        Optional Fields:  clientFilter, status, type, user, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, enrollmentTriggerIdentifier, effectiveDate, pageSize, pageIndex.
      operationId: getEnrollmentTriggers_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetEnrollmentTriggersRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetEnrollmentTriggerResponse'
      deprecated: false
      x-proxy-name: getEnrollmentTriggers
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getHierarchyProperties:
    post:
      tags:
        - Rewards Admin
      summary: Get Hierarchy Properties
      description: 'Get hierarchy properties for supplied hierarchyId.Required Fields:
        hierarchyId.'
      operationId: getHierarchyProperties_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/CspaRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetHierarchyPropertiesResponse'
      deprecated: false
      x-proxy-name: getHierarchyProperties
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getMappings:
    post:
      tags:
        - Rewards Admin
      summary: Get Loyalty mappings
      description: |-
        Get a list of Mappings.
        Optional Fields:  clientFilter, status, type, user, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, mappingIdentifier, effectiveDate, pageSize, pageIndex.
      operationId: getMappings_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetLoyaltyMappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetLoyaltyMappingResponse'
      deprecated: false
      x-proxy-name: getMappings
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getOnboardingQuestionnaire:
    post:
      tags:
        - Rewards Admin
      summary: Get an onboarding questionnaire for a client.
      description: Returns the requested version of the onboarding questionnaire previously
        saved for the client/system/principal/agent specified.
      operationId: getOnboardingQuestionnaire_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OnboardingQuestionnaireRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OnboardingQuestionnaireResponse'
      deprecated: false
      x-proxy-name: getOnboardingQuestionnaire
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getOnboardingTemplate:
    post:
      tags:
        - Rewards Admin
      summary: Get a version of the onboarding questionnaire template.
      description: Returns the requested version of the onboarding questionnaire template.
      operationId: getOnboardingTemplate_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OnboardingTemplateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OnboardingTemplateResponse'
      deprecated: false
      x-proxy-name: getOnboardingTemplate
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getProgramCapping:
    post:
      tags:
        - Rewards Admin
      summary: Get will retrieve the capping across program parameter.
      description: |-
        Use this service to get the settings for Program Capping. The service will default to 100 rows being returned. The default statuses being returned will be Working, Validated, Approved, Client Approved, Production, Previous, and Lapsed, You can specify which statuses to returned to get Deleted and Invalid.
        Required Fields: hierarchyId.
      operationId: getProgramCapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetProgramsRequest'
        required: false
      responses:
        default:
          description: successful operation
          content: {}
      deprecated: false
      x-proxy-name: getProgramCapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getProgramGroups:
    post:
      tags:
        - Rewards Admin
      summary: Get ProgramGroups
      operationId: getProgramGroups_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetProgramGroupRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetProgramGroupResponse'
      deprecated: false
      x-proxy-name: getProgramGroups
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getProgramsV2:
    post:
      tags:
        - Rewards Admin
      summary: Get Program.
      description: |-
        Get a list of programs.
        Required Fields: hierarchyId Optional Fields: rewardType, status, programType.
      operationId: getProgramsV2_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetProgramCodeRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetProgramCodeResponse'
      deprecated: false
      x-proxy-name: getProgramsV2
      x-region:
        - North America
      x-display: Reward Admins
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getPrograms:
    post:
      tags:
        - Rewards Admin
      summary: Get Program
      description: |-
        Get a list of programs.
        Optional Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, programCode, effectiveDate, user, type, status, valuePropositionType, clientFilter, pageSize, pageIndex.
      operationId: getPrograms_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetProgramsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetProgramsResponse'
      deprecated: false
      x-proxy-name: getPrograms
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getRewardsRules:
    post:
      tags:
        - Rewards Admin
      summary: Get Rewards Rules
      description: |-
        Get a list of rewards rules matching provided criteria.
        Optional Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, status, type, searchText, pageSize, pageIndex.
      operationId: getRewardsRules_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetAvailableRulesRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetRewardsRulesResponse'
      deprecated: false
      x-proxy-name: getRewardsRules
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getTiersAcross:
    post:
      tags:
        - Rewards Admin
      summary: Get Tiers Across.
      description: |-
        Get a list of tier across.
        Required Fields: hierarchyId Optional Fields: pageSize, pageIndex, status, sortBy, fieldsToSearch, sortDirection, searchText.
      operationId: getTiersAcross_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetTiersAcrossRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetTiersAcrossResponse'
      deprecated: false
      x-proxy-name: getTiersAcross
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/getUnusedCategories:
    post:
      tags:
        - Rewards Admin
      summary: GetUnusedCategories
      description: |-
        Get a list of UnusedCategories.
        Required Field: hierarchyId
      operationId: getUnusedCategories_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/GetUnusedCategoriesRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetUnusedCategoriesResponse'
      deprecated: false
      x-proxy-name: getUnusedCategories
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/importBehavior:
    post:
      tags:
        - Rewards Admin
      summary: Export behavior.
      description: |-
        Import a behavior into upper environment with an effective date of cycleCopyEffectiveDate.
        The new behavior id in the upper environment will be returned.
        Note: This call should not be used in PROD, as it will always return an error.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, id, cycleCopyEffectiveDate.
      operationId: importBehavior_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ImportBehaviorRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ImportBehaviorRequest'
      deprecated: false
      x-proxy-name: importBehavior
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/importBucket:
    post:
      tags:
        - Rewards Admin
      summary: Cycle copy bucket.
      description: |-
        Copies a bucket from the current environment to the upper environment (QA -> CAT, CAT -> PROD), with an effective date of cycleCopyEffectiveDate. All rules used by the bucket will be copied. If a rule has a version in the upper environment with the same effective date, no copy will take place, but the bucket will be linked to that version on copy.
        The new bucket id in the upper environment will be returned.
        Note: This call should not be used in PROD, as it will always return an error.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, id, cycleCopyEffectiveDate.
      operationId: importBucket_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ImportBucketRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: importBucket
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/importProgram:
    post:
      tags:
        - Rewards Admin
      summary: Cycle copy Program.
      description: |-
        Copies a Program from the current environment to the upper environment (QA -> CAT, CAT -> PROD), with an effective date of cycleCopyEffectiveDate. All rules used by the Program will be copied. If a rule has a version in the upper environment with the same effective date, no copy will take place, but the Program will be linked to that version on copy.
        The new bucket id in the upper environment will be returned.
        Note: This call should not be used in PROD, as it will always return an error.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, id, cycleCopyEffectiveDate.
      operationId: importProgram_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ProgramImportRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: importProgram
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/promoCertificateIDs:
    post:
      tags:
        - Rewards Admin
      summary: Api for PromoCertificateIdResource to Data power
      operationId: promoCertificateIDs_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/PromoCertificateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PromoCertificateResponse'
      deprecated: false
      x-proxy-name: promoCertificateIDs
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetBehavior:
    post:
      tags:
        - Rewards Admin
      summary: Reset loyalty behavior.
      description: |-
        Reset a loyalty behavior.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier.
      operationId: resetBehavior_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseValidatedBehaviorRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: resetBehavior
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetCategory:
    post:
      tags:
        - Rewards Admin
      summary: Reset Category
      description: |-
        Reset the category.
        Mandatory Fields: hierarchyId, rowId
      operationId: resetCategory_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateCategoryRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: resetCategory
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetDialog:
    post:
      tags:
        - Rewards Admin
      summary: Reset will set the status back to working for dialog parameter in the
        statuses validated, client approved, or scheduled.
      description: "Use this service to reset the settings for dialog to the status\
        \ of working. \n\nRequired fields: hierarchyId and rowId.\n\nEntitlement:\
        \ PLPRDG"
      operationId: resetDialog_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResetDialogRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: resetDialog
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetDistributionBucket:
    post:
      tags:
        - Rewards Admin
      summary: Reset distribution bucket.
      description: |-
        Reset a distribution bucket and any programs that use it.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, distributionBucketIdentifier, effectiveDate, status.
      operationId: resetDistributionBucket_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResetDistributionBucketRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: resetDistributionBucket
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetEnrollmentTrigger:
    post:
      tags:
        - Rewards Admin
      summary: Reset enrollment trigger.
      description: |-
        Reset an existing loyalty enrollment trigger.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, event, status, enrollmentTriggerIdentifier, effectiveDate.
      operationId: resetEnrollmentTrigger_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResetEnrollmentTriggerRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: resetEnrollmentTrigger
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetMapping:
    post:
      tags:
        - Rewards Admin
      summary: Reset loyalty mapping.
      description: |-
        Reset an existing loyalty mapping.
        Required Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, status, mappingIdentifier, description, effectiveDate.
      operationId: resetMapping_v2_rewardsadmin
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: resetMapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetProgramCapping:
    post:
      tags:
        - Rewards Admin
      summary: Reset will set the status back to working for capping across program
        parameter in the statuses validated, client approved, or scheduled.
      description: |-
        Use this service to reset the settings for Program Capping to the status of working.
        Required fields: hierarchyId and rowId.
         Entitlement: PLPRPC.
      operationId: resetProgramCapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResetProgramCappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: resetProgramCapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetProgramGroup:
    post:
      tags:
        - Rewards Admin
      summary: Reset loyalty program group.
      description: |-
        Reset a loyalty program group.
        Required fields: hierarchyId and rowId.
      operationId: resetProgramGroup_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResetProgramGroupRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: resetProgramGroup
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetProgram:
    post:
      tags:
        - Rewards Admin
      summary: Reset loyalty program.
      description: |-
        Reset a loyalty program.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, programType, programCode, effectiveDate.
      operationId: resetProgram_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseValidatedProgramRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: resetProgram
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetRewardsRule:
    post:
      tags:
        - Rewards Admin
      summary: Reset rewards rule.
      description: |-
        Reset a rewards rule and any programs/distribution buckets that use it.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, ruleIdentifier, effectiveDate, status.
      operationId: resetRewardsRule_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/BaseValidatedRuleRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: resetRewardsRule
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/resetTierAcross:
    post:
      tags:
        - Rewards Admin
      summary: Reset will set the status back to working for Tier across parameter
        in the statuses validated, client approved, or scheduled.
      description: |-
        Use this service to reset the settings for Tier Across to the status of working.
        Required fields: hierarchyId, effectiveDate, tierAcrossId and rowId.
         Entitlement: PLPRPC.
      operationId: resetTierAcross_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/ResetTierAcrossRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: resetTierAcross
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/retrieveHierarchyPrograms:
    post:
      tags:
        - Rewards Admin
      summary: Retrieve Hierarchy Programs
      description: |-
        Get a list of programs.
        Required Field: clientIdentifier.
        Optional Fields: systemIdentifier, princIdentifier, agentIdentifier, programType, programStatus, pageIndex, pageSize.
      operationId: retrieveHierarchyPrograms_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/RetrieveHierarchyProgramsRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RetrieveHierarchyProgramsResponse'
      deprecated: false
      x-proxy-name: retrieveHierarchyPrograms
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/saveOnboardingQuestionnaire:
    post:
      tags:
        - Rewards Admin
      summary: Save an onboarding questionnaire for a client.
      description: Encrypt and save a version of the onboarding questionnaire an associates
        it to the client/system/principal/agent specified
      operationId: saveOnboardingQuestionnaire_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/SaveOnboardingQuestionnaireRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OnboardingQuestionnaireResponse'
      deprecated: false
      x-proxy-name: saveOnboardingQuestionnaire
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/saveOnboardingTemplate:
    post:
      tags:
        - Rewards Admin
      summary: Save a version of the onboarding questionnaire template.
      description: Encrypt and save a version of the onboarding questionnaire template.
      operationId: saveOnboardingTemplate_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/OnboardingTemplateRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OnboardingTemplateResponse'
      deprecated: false
      x-proxy-name: saveOnboardingTemplate
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateBehavior:
    post:
      tags:
        - Rewards Admin
      summary: Update loyalty behavior.
      description: |-
        Update an existing loyalty behavior.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier.
        Optional Fields: effectiveDate, description, maxFrequencyPeriod, maxFrequencyAmount, startTime, endTime, activity.
      operationId: updateBehavior_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateBehaviorRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: updateBehavior
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateCategory:
    post:
      tags:
        - Rewards Admin
      summary: Update Category
      description: |-
        Update the category
        Optional Fields: clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, categoryCode, categoryJson, hierarchyId.
      operationId: updateCategory_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateCategoryRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: updateCategory
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateDialog:
    post:
      tags:
        - Rewards Admin
      summary: Updates dialog parameter.
      description: |-
        Use this service to update the settings for Dialog.
        Required fields: hierarchyId and rowId.
        Optional fields: description, title, body.
        Entitlement: PLPUDG
      operationId: updateDialog_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateDialogRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdatedResult'
      deprecated: false
      x-proxy-name: updateDialog
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateDistributionBucket:
    post:
      tags:
        - Rewards Admin
      summary: Update distribution bucket.
      description: |-
        Update an existing distribution bucket.
        Required Fields: id, clientIdentifier, systemIdentifier, prinIdentifier, agentIdentifier, type, status, effectiveDate, distributionBucketIdentifier.
        Optional Fields: description, rewardType, negativeBalance, distributionMethod, distributionFrequency, burnRuleIdentifier, forfeitRuleIdentifier, use3rdPartyRedemptions, certificateMinimum, certificateMaximum, certificateIncrement, useStatementCreditRedemption, statementCreditMinimum, statementCreditMaximum, statementCreditIncrement, statementCreditBatchPrefix, useDirectDepositRedemption, directDepositMinimum, directDepositMaximum, directDepositIncrement, useTransferRedemption, transferMinimum, transferMaximum, transferIncrement, useStandardRedemption, standardMinimum, standardMaximum, standardIncrement, ebillPrintOverrideCode, zeroBalanceStatementCode, expirationPeriod, expirationPeriodMonth, expirationNumberMonths, expirationReinstatementDays, conversionRatePoints, conversionRateDollars, useLoyaltyEStatement, directDepositRoutingNumberJson, useCertificateDatabase, certificateDenominationJson, certificateExpiration, statementCreditRdmptTypeRate, directDepositRdmptTypeRate, charityRdmptTypeRate, transferRdmptTypeRate, purchaseEraserRdmptTypeRate, statementCreditPayoutPeriod, statementCreditPayoutMonth, forfeitInactivity,useRedeemNoDistribution
      operationId: updateDistributionBucket_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateDistributionBucketRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: updateDistributionBucket
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateEnrollmentTrigger:
    post:
      tags:
        - Rewards Admin
      summary: Update Enrollment Trigger.
      description: |-
        Update an existing enrollment trigger.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, event, enrollmentTriggerIdentifier, status, effectiveDate.
        Optional Fields: description
      operationId: updateEnrollmentTrigger_v2_rewardsadmin
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: updateEnrollmentTrigger
      x-region:
        - North America
      x-display: Rewards Admin
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateHierarchyProperties:
    post:
      tags:
        - Rewards Admin
      summary: Update Hierarchy Properties.
      description: "Update an existing hierarchy properties.\nRequired Fields: hierarchyId,\
        \ consumerAppId \nOptional Fields: useCategoryHistoryFile"
      operationId: updateHierarchyProperties_v2_rewardsadmin
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: updateHierarchyProperties
      x-region:
        - North America
      x-display: Rewards Admin
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateMapping:
    post:
      tags:
        - Rewards Admin
      summary: Update loyalty mapping.
      description: |
        Update an existing loyalty mapping.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, mappingIdentifier.
      operationId: updateMapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateMappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UpdateResult'
      deprecated: false
      x-proxy-name: updateMapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateProgramCapping:
    post:
      tags:
        - Rewards Admin
      summary: Updates capping across program parameter
      description: "Use this service to update the settings for Program Capping. \n\
        Required fields: hierarchyId and rowId.\nOptional fields description, cappingAmount,\
        \ cappingPeriod, annualPeriodEnd.\nEntitlement: PLPUPC"
      operationId: updateProgramCapping_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateProgramCappingRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: updateProgramCapping
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateProgramGroup:
    post:
      tags:
        - Rewards Admin
      summary: Update loyalty program group.
      description: |-
        Update an existing loyalty program group.
        Required Fields: hierarchyId and rowId.
        Optional Fields: programGroupCode, effectiveDate, description and programJson.
      operationId: updateProgramGroup_v2_rewardsadmin
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/UpdateProgramGroupRequest'
        required: false
      responses:
        200:
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DbUpdateResult'
      deprecated: false
      x-proxy-name: updateProgramGroup
      x-region:
        - North America
      x-display: Rewards Admin
      x-codegen-request-body-name: body
      x-group-name: Loyalty Programs
      x-child-product-name: Operations & Execution
  /rewardsadmin/v2/updateProgram:
    post:
      tags:
        - Rewards Admin
      summary: Update loyalty program.
      description: |-
        Update an existing loyalty program.
        Required Fields: id, clientIdentifier, systemIdentifier, principalIdentifier, agentIdentifier, type, programCode, effectiveDate.
[...]
